.background-white  {
  background-color: white !important;
}

.pointer {
  cursor: pointer;
}

.border-left-none {
  border-left: none;
}

.border-right-none {
  border-right: none;
}

.bold {
  font-weight: bold;
}
