*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  //font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-family-primary;
  color: $text-color-primary;
  font-weight: 300;
  line-height: 1.6;
}

.app {
  background-color: #E5E5E5;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page {
   width: 400px;

  &__header {
    background-color: inherit;
    display: flex;
    justify-content: center;
    padding: 20px 0;

    .header-title {
      font-size: 18px;
      line-height: 22px;
      color: #2F80ED;
    }
  }

  &__body {
    padding: 20px 0;

    .calculator-card {
      background: #FFFEFE;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 6px;

      &__title {
        font-size: 30px;
        line-height: 37px;
        color: #102C51;
        width: 124px;
      }

      &__form {

      }
    }
  }
}

.form {
  &__label {

    font-size: 14px;
    line-height: 17px;

    &--regular {

    }

    &--inline {
      margin-bottom: 0;
    }
  }

  &__input {
    height: 42px;
    
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    text-align: center;
  }

  &__add-on {
    width: 42px;
    height: 42px;

    span {
      display: block;
      width: 100%;
      height: 100%;
      background: #F4F8FA;
      color: #828282;
    }
  }

  &__submit-button {
    background: #2F80ED;
    border-radius: 10px;
    font-size: 18px;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.background-white  {
  background-color: white !important;
}

.pointer {
  cursor: pointer;
}

.border-left-none {
  border-left: none;
}

.border-right-none {
  border-right: none;
}

.bold {
  font-weight: bold;
}

.info-panel {
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 25px 32px 25px;
  }

  &__price {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #2F80ED;
  }

  &__footer {
    background: #F4F8FA;
    border-top: none;
    padding: 10px 25px;

    font-size: 10px;
    line-height: 14px;

    p {
      margin-bottom: 0;
    }
  }
}